**Work 5**

In [1]:
import json
import os

# Installing the Kaggle package
!pip install kaggle 

!mkdir /root/.kaggle/ 

#Important Note: complete this with your own key - after running this for the first time remmember to **remove** your API_KEY
api_token = {"username":"avielbbaz","key":"b9e35e8b71e0611fbd90b49b45fde304"}


# creating kaggle.json file with the personal API-Key details 
# You can also put this file on your Google Drive
with open('/root/.kaggle/kaggle.json', 'w') as file:
  json.dump(api_token, file)
!chmod 600 /root/.kaggle/kaggle.json

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.8/dist-packages (1.5.12)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.8/dist-packages (from kaggle) (7.0.0)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from kaggle) (2022.9.24)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (2.10)

In [2]:
!kaggle datasets list -s Blog
!mkdir ./datasets
!mkdir ./datasets/Blog-Data
!mkdir ./datasets/UFO

ref                                                         title                                             size  lastUpdated          downloadCount  voteCount  usabilityRating
----------------------------------------------------------  -----------------------------------------------  -----  -------------------  -------------  ---------  ---------------
rtatman/blog-authorship-corpus                              Blog Authorship Corpus                           290MB  2017-08-15 21:20:54           9448        125  0.8235294
kaggle/kaggle-blog-winners-posts                            Kaggle Blog: Winners' Posts                      519KB  2016-09-21 02:21:21            786         44  0.7058824
lakritidis/identifying-influential-bloggers-techcrunch      Identifying Influential Bloggers: Techcrunch     112MB  2020-03-30 19:22:09           1076         44  1.0
saurabhbagchi/sample-blog-corpus                            Sample Blog Corpus                               290MB  2021-02-28 12:20:26            166         11  1.0
alexgude/california-traffic-collision-data-from-switrs      California Traffic Collision Data from SWITRS      1GB  2021-08-29 16:42:35           4760        452  0.9411765
jessemostipak/hotel-booking-demand                          Hotel booking demand                               1MB  2020-02-13 01:27:20          90535       1985  1.0
prasertk/netflix-subscription-price-in-different-countries  Netflix subscription fee in different countries    3KB  2022-01-15 07:06:09          11448        264  1.0
wpncrh/marginal-revolution-blog-post-data                   Marginal Revolution Blog Post Data                 6MB  2016-09-18 03:26:10            259         11  0.7058824
crmercado/tweets-blogs-news-swiftkey-dataset-4million       Tweets Blogs News - Swiftkey Dataset 4million      1GB  2017-12-06 15:42:31           1016         12  0.6875
jtentor/blogfeedback-data-set                               BlogFeedback Data Set                              2MB  2022-07-15 18:40:02            379         24  0.7058824
kashnitsky/mlcourse                                         mlcourse.ai                                       51MB  2018-12-09 16:45:09          35447       1515  0.88235295
clorichel/boat-types-recognition                            Boat types recognition                           842MB  2018-11-17 20:55:43           5358        176  0.75
ozgurdogan646/blog-or-not-dataset                           Blog or Not Dataset                                2MB  2021-07-05 10:56:31             31          9  0.9411765
vishalsubbiah/pokemon-images-and-types                      Pokemon Image Dataset                              2MB  2018-12-17 01:01:39          20699        435  0.9411765
glushko/seth-godins-blogs-dataset                           Seth Godin's Blog Dataset                          4MB  2020-05-17 19:46:10             69          9  0.88235295
dorianlazar/medium-articles-dataset                         Medium articles dataset                            1GB  2020-06-30 14:13:56           6360        135  0.9411765
mikeschmidtavemac/emailblog                                 email-blog                                        15MB  2021-10-09 17:07:11            102          4  0.9411765
christianlillelund/donald-trumps-rallies                    Donald Trump Rally Speeches                      720KB  2020-09-26 10:25:08           3901        130  1.0
alexattia/the-simpsons-characters-dataset                   The Simpsons Characters Data                       1GB  2018-04-13 22:55:01          18610        493  0.7941176
fmejia21/demographics-of-academy-awards-oscars-winners      Demographics of Academy Awards (Oscars) Winners   20KB  2020-02-04 17:38:26           4489        143  0.9411765

In [ ]:
!kaggle datasets list -s UFO

ref                                                            title                                     size  lastUpdated          downloadCount  voteCount  usabilityRating
-------------------------------------------------------------  ---------------------------------------  -----  -------------------  -------------  ---------  ---------------
NUFORC/ufo-sightings                                           UFO Sightings                             10MB  2019-11-13 19:45:57          31532        588  0.5882353
camnugent/ufo-sightings-around-the-world                       UFO Sightings around the world             5MB  2017-08-15 15:46:17           3588         75  0.8235294
rishidamarla/ufo-sightings-approx-100000                       UFO Sightings (Approx. 90,000)            38MB  2021-05-15 03:12:43            607         34  0.9411765
mysarahmadbhat/ufo-sightings                                   UFO Sightings                              5MB  2021-08-09 17:19:17            236         17  0.9411765
sadeghjalalian/ufo-sightings-in-usa                            UFO Sightings In USA                      60MB  2022-06-23 20:46:00            192         15  0.7647059
thaddeussegura/ufo-sightings                                   ufo_sightings                              7MB  2020-08-11 16:38:41            269         16  0.9411765
salmanfaroz/ufo-sightings-in-the-us                            UFO Sightings in the US                   35KB  2020-08-20 18:31:59            334         21  0.7058824
fireballbyedimyrnmom/ufo-sightings-1969-to-2019                UFO sightings 1969 to 2019                75MB  2020-12-04 21:02:42            264          9  0.85294116
pfavatobarcelos/ontoumlufo-catalog                             OntoUML/UFO Catalog                       25KB  2022-12-06 02:00:12              6          6  0.9375
ahemateja19bec1025/ufosightingsdataset                         UFO-Sightings-Dataset                     12KB  2021-12-29 06:54:22             26          5  0.9411765
emorelli/consolidated-ufo-weather-data                         Consolidated UFO and Weather Data          4MB  2018-05-16 20:06:50            656         19  0.7058824
chandlerkaiden/ufo-data-nuforc                                 UFO Data - NUFORC                          5MB  2021-11-22 16:21:25             75          7  0.64705884
leogenzano/clean-data-ufo                                      Clean Data UFO                             5MB  2020-10-22 17:13:05             64          4  0.29411766
dwarika/ufo-datasets-the-truth-is-out-there                    UFO datasets, the truth is out there...  743KB  2020-12-28 13:04:54             84         23  0.3529412
karenfisher/updated-nuforc-ufo-sightings-dataset               Updated NUFORC UFO Sightings Dataset       3MB  2020-05-23 03:45:48             91          5  0.4117647
petrslamnk/ufo-sightings                                       UFO Sightings                              5MB  2021-02-06 09:07:04             23          2  0.4117647
emohamed/ufo-sighting-full-description                         UFO_sighting_full_description             37MB  2020-11-26 16:34:19             67          2  0.7647059
blunderfist/ufo-sightings                                      UFO sightings                              6MB  2021-09-28 15:49:00             14          1  0.5
thedevastator/uncovering-mysterious-unexplained-ufo-sightings  UFO Sightings (Location & Time)           59MB  2022-12-05 13:03:27              1          1  0.9411765
cavalryjim/ufo-sightings                                       ufo_sightings                            195KB  2020-08-11 22:13:47             46          2  0.3529412

In [3]:
!kaggle datasets download rtatman/blog-authorship-corpus -p ./datasets/Blog-Data
!unzip ./datasets/Blog-Data/*.zip -d ./datasets/Blog-Data
!ls ./datasets/Blog-Data

Downloading blog-authorship-corpus.zip to ./datasets/Blog-Data
 97% 281M/290M [00:02<00:00, 120MB/s]
100% 290M/290M [00:02<00:00, 131MB/s]
Archive:  ./datasets/Blog-Data/blog-authorship-corpus.zip
  inflating: ./datasets/Blog-Data/blogtext.csv
blog-authorship-corpus.zip  blogtext.csv

In [4]:
!kaggle datasets download -d NUFORC/ufo-sightings  -p ./datasets/UFO
!unzip ./datasets/UFO/*.zip  -d ./datasets/UFO
!ls ./datasets/UFO

Downloading ufo-sightings.zip to ./datasets/UFO
 49% 5.00M/10.2M [00:00<00:00, 47.7MB/s]
100% 10.2M/10.2M [00:00<00:00, 83.9MB/s]
Archive:  ./datasets/UFO/ufo-sightings.zip
  inflating: ./datasets/UFO/complete.csv
  inflating: ./datasets/UFO/scrubbed.csv
complete.csv  scrubbed.csv  ufo-sightings.zip

In [5]:
import pandas as pd
import numpy as np
import re

Part 1 - Blog Authorship Corpus

In [6]:
blog_text_df = pd.read_csv('/content/datasets/Blog-Data/blogtext.csv')
blog_text_df = blog_text_df.drop_duplicates()
blog_text_df = blog_text_df.dropna()
blog_text_df

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...
...,...,...,...,...,...,...,...
681279,1713845,male,23,Student,Taurus,"01,July,2004","Dear Susan, I could write some really ..."
681280,1713845,male,23,Student,Taurus,"01,July,2004","Dear Susan, 'I have the second yeast i..."
681281,1713845,male,23,Student,Taurus,"01,July,2004","Dear Susan, Your 'boyfriend' is fuckin..."
681282,1713845,male,23,Student,Taurus,"01,July,2004","Dear Susan: Just to clarify, I am as..."
681283,1713845,male,23,Student,Taurus,"01,July,2004","Hey everybody...and Susan, You might a..."

Q1

In [7]:
r = re.compile('(\w{8,})')
new_blog_df = blog_text_df
new_blog_df['sign_8_or_more_char'] = new_blog_df['sign'].apply(lambda x: r.findall(x))
signs = []
for sign in new_blog_df['sign_8_or_more_char']:
  if len(sign) != 0:
    signs.append(sign[0])
sign_8_or_more_char = set(signs)
sign_8_or_more_char

{'Aquarius', 'Capricorn', 'Sagittarius'}

Q2

In [8]:
from datetime import datetime as dt
blog_text_df['date'] = pd.to_datetime(blog_text_df['date'],errors='coerce')
blog_with_year_df = blog_text_df
blog_with_year_df['year'] = blog_with_year_df['date'].dt.strftime('%Y')
group_by_year = blog_with_year_df.groupby('year',as_index = False).count()
group_by_year = group_by_year[['year','text']] 
group_by_year.sort_values('text',ascending=False)

   year    text
5  2004  537544
4  2003  102467
3  2002   22294
2  2001    5581
1  2000     894
0  1999      70
7  2006      23
6  2005       6

Q3

In [9]:
r2 = re.compile('([a-zA-Z0-9_\-\.]+@[a-zA-Z0-9_\-\.]+\.[a-zA-Z]{2,5})')
blog_text_df['email'] = blog_text_df['text'].apply(lambda x: len(r2.findall(x)))

In [10]:
g_by_topic = blog_text_df.groupby('topic',as_index=False).sum()
g2 = g_by_topic.sort_values(['email'],ascending=False).reset_index(drop=True)
print("The number of valid emails for each category in the blog is:")
display(g2[['topic','email']])

The number of valid emails for each category in the blog is:

                      topic  email
0                    indUnk   1989
1                   Student   1110
2                Non-Profit    468
3                  Internet    389
4                 Education    339
5      Communications-Media    327
6                Technology    287
7                      Arts    264
8                Publishing     84
9               Engineering     83
10                  Biotech     78
11                  Science     76
12               Consulting     74
13         BusinessServices     73
14                Marketing     65
15                      Law     49
16                 Religion     46
17       Telecommunications     43
18               Government     41
19              Advertising     36
20               Accounting     34
21             Architecture     33
22        Museums-Libraries     33
23                Chemicals     32
24        Sports-Recreation     31
25           HumanResources     26
26                  Banking     25
27                  Tourism     22
28                  Fashion     19
29  LawEnforcement-Security     18
30                 Military     17
31             Construction     17
32               RealEstate     15
33           Transportation     12
34            Manufacturing      7
35               Automotive      5
36                 Maritime      4
37              Agriculture      3
38              Environment      2
39        InvestmentBanking      0

Q4

In [11]:
blogger_with_most_emails_df =  blog_text_df[blog_text_df['email']==blog_text_df['email'].max()]
blogger_with_most_emails_df = blogger_with_most_emails_df[['id','email']].reset_index(drop=True)
blogger_with_most_emails_df

        id  email
0  1383289     93

Q5

In [12]:
r_long_num = re.compile('([\d,]+)')
def max_length(list1):
  max_d = ''
  for i in list1:
    if len(str(i)) >= len(max_d):
      max_d = i
  return len(max_d)
blog_text_df['len_of_longest_num'] = blog_text_df['text'].apply(lambda x: max_length(r_long_num.findall(x)))
blog_topic_most_digits = blog_text_df[blog_text_df['len_of_longest_num']==blog_text_df['len_of_longest_num'].max()]
blog_topic_most_digits[['id','len_of_longest_num']].reset_index(drop=True)

        id  len_of_longest_num
0  3301387                 193

Part 2 - UFO Sightlights

In [13]:
ufo_scrubbed_df = pd.read_csv('/content/datasets/UFO/scrubbed.csv',low_memory=False)
ufo_scrubbed_df.drop_duplicates()
ufo_scrubbed_df.dropna()
ufo_scrubbed_df

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
...,...,...,...,...,...,...,...,...,...,...,...
80327,9/9/2013 21:15,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.1658333,-86.784444
80328,9/9/2013 22:00,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.6136111,-116.202500
80329,9/9/2013 22:00,napa,ca,us,other,1200,hour,Napa UFO&#44,9/30/2013,38.2972222,-122.284444
80330,9/9/2013 22:20,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.9011111,-77.265556
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.6527778,-97.477778

Q1

In [14]:
ufo_scrubbed_df['datetime'] = pd.to_datetime(ufo_scrubbed_df['datetime'],errors = 'coerce')
ufo_scrubbed_df['year'] = ufo_scrubbed_df['datetime'].dt.strftime('%Y')
def count_ufo(d_f,country,year):
  return (d_f.loc[(d_f['year']==year) & (d_f['country']== country),['year','country']].count().values[0])
print(f"for example , the number of ufo sights in the us at 1949 is:{count_ufo(ufo_scrubbed_df,'us','1949')}")

for example , the number of ufo sights in the us at 1949 is:15

Q2

In [15]:
ufo_scrubbed_df['month'] = ufo_scrubbed_df['datetime'].dt.strftime('%B')
g_by_month = ufo_scrubbed_df.groupby('month',as_index=False).size()
g_by_month = g_by_month.rename(columns={'size':'number_of_sights'})
month_of_most_sights = g_by_month[g_by_month['number_of_sights']==g_by_month['number_of_sights'].max()] 
print("the month with most ufo sights is:")
display(month_of_most_sights)

the month with most ufo sights is:

  month  number_of_sights
5  July              9441

Q3

In [16]:
g_by_state = ufo_scrubbed_df.groupby('state',as_index=False).size()
g_by_state = g_by_state.rename(columns={'size':'number_of_sights'})
g_by_state = g_by_state.sort_values('number_of_sights',ascending=False)
display(g_by_state[['state']].reset_index(drop=True))

   state
0     ca
1     wa
2     fl
3     tx
4     ny
..   ...
62    nf
63    nt
64    pe
65    yt
66    yk

[67 rows x 1 columns]

Q4

In [17]:
r_word_couple = re.compile('(\w{7,}\s+\w{7,})')
ufo_scrubbed_df['couple_words'] = ufo_scrubbed_df['comments'].apply(lambda x: len(r_word_couple.findall(str(x))))
most_couple_word_comment = ufo_scrubbed_df[ufo_scrubbed_df['couple_words']==ufo_scrubbed_df['couple_words'].max()]
display(most_couple_word_comment[['comments']].reset_index(drop=True))

                                            comments
0  Glowing&#44spinning rapidly&#44displaying quic...

Q5

In [18]:
r_6_digits = re.compile('(d{6}|\d{3},?\d{3})')
ufo_scrubbed_df['most_6_digit_text'] = ufo_scrubbed_df['comments'].apply(lambda x: len(r_6_digits.findall(str(x))))
g_by_country = ufo_scrubbed_df.groupby('country',as_index=False).sum()
country_with_most_6_digits = g_by_country[g_by_country['most_6_digit_text']==g_by_country['most_6_digit_text'].max()]
country_with_most_6_digits[['country','most_6_digit_text']].reset_index(drop=True)

  country  most_6_digit_text
0      us                 97

Q6

In [19]:
r_final = re.compile('(\w{2}\d{1}\w{1})')
ufo_scrubbed_df['comment_format'] = ufo_scrubbed_df['comments'].apply(lambda x: len(r_final.findall(str(x))))
ufo_1 = ufo_scrubbed_df.loc[ufo_scrubbed_df['comment_format']>0]
ufo_1.drop(['year','month','couple_words','most_6_digit_text'], axis=1, inplace=True)
ufo_1

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,comment_format
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111,1
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082,1
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611,2
8,1966-10-10 20:00:00,pell city,al,us,disk,180,3 minutes,Strobe Lighted disk shape object observed clos...,3/19/2009,33.5861111,-86.286111,1
15,1972-10-10 19:00:00,harlan county,ky,us,circle,1200,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,9/15/2005,36.8430556,-83.321944,1
...,...,...,...,...,...,...,...,...,...,...,...,...
80219,2007-09-09 21:30:00,antelope,ca,us,other,900,15 +- mins,strange object over north sacramento 9:30ish p...,10/8/2007,38.7083333,-121.328889,1
80241,2009-09-09 20:10:00,haverhill,ma,us,light,120,approx 2 min,On 09/09/2009 at 20:00 ET I notice what appear...,12/12/2009,42.7761111,-71.077778,1
80266,2010-09-09 20:30:00,tinley park,il,us,light,300,5 mins,I was outside BBQ and as always I tend to look...,11/21/2010,41.5733333,-87.784444,1
80286,2011-09-09 23:00:00,kenmore,wa,us,changing,5400,1.5 hours,UFO changing colors&#44 shapes and pulsating -...,10/10/2011,47.7575000,-122.242778,1
80295,2012-09-09 14:00:00,pictou (canada),ns,ca,disk,600,10 minutes,Spotted a object over the town&#39s business d...,9/24/2012,45.666667,-62.700000,1